{{- define "body" -}}
<nav aria-label="breadcrumb">
  <ul>
    <li>Members</li>
  </ul>

  <ul>
    <li>
      <a href="/members/new" role="button" class="material-symbols-outlined">
        person_add
      </a>
    </li>
  </ul>
</nav>

<table>
  <thead>
    <tr>
      <th scope="col">Last Name</th>
      <th scope="col">First Name</th>
      <th scope="col">Active</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {{- range .Members -}}
    <tr>
      <th scope="row">{{ .LastName }}</th>
      <td>{{ .FirstName }}</td>
      <td>
        <span class="material-symbols-outlined">
          {{ if .Active }}person_check{{ else }}person_cancel{{ end }}
        </span>
      </td>
      <td>
        <a
          href="/members/{{ .ID }}/edit"
          role="button"
          class="material-symbols-outlined"
        >
          edit
        </a>
        <a
          href="/members/{{ .ID }}/delete"
          role="button"
          data-confirm="Are you sure you want to delete member {{ .FirstName }} {{ .LastName }}?"
          class="material-symbols-outlined"
        >
          delete
        </a>
      </td>
    </tr>
    {{- end -}}
  </tbody>
</table>
{{- end -}}
