<header class="container">
  <nav>
    <ul>
      <li>
        <img class="logo" src="/images/logo.png" />
        <strong>Knight</strong>
      </li>
    </ul>
    <ul>
      <li></li>
    </ul>
  </nav>
</header>
<main class="container">
  <%= @inner_content %>
</main>
