<header class="container">
  <nav>
    <ul>
      <li>
        <a href={~p"/"} class="contrast">
          <img class="app-logo" src="/images/logo.png" />
          <strong>Knight</strong>
        </a>
      </li>
    </ul>
  </nav>
</header>
<main class="container">
  <%= @inner_content %>
</main>
