<header class="container">
  <nav>
    <ul>
      <li>
        <a href="/">
          <img class="logo" src="/images/logo.png" />
          <strong style="color: white">Knight</strong>
        </a>
      </li>
    </ul>
    <ul>
      <li></li>
    </ul>
  </nav>
</header>
<main class="container">
  <%= @inner_content %>
</main>
