{{- define "body" -}}
<section>
  <h1>Knight - Blue Army Internal Webapp</h1>
</section>

<section class="card-box">
  <article>
    <h3>Members</h3>

    <span> Manage the members of the Blue Army. </span>

    <footer>
      <a href="/members" role="button">Open</a>
    </footer>
  </article>

  <article>
    <h3>Seasons</h3>

    <span> Manage seasons and see presence of members at games. </span>

    <footer>
      <a href="/seasons" role="button">Open</a>
    </footer>
  </article>
</section>
{{- end -}}
