{{define "pages/index"}}
<!doctype html>
<html lang="en">
  {{template "head"}}
  <body>
    {{template "Header"}}
    <main class="container">
      <section>
        <h3>Modules</h3>
        <div class="grid">
          <article>
            <header>Members</header>
            Manage the members of the Blue Army.
            <footer>
              <a href="/members">Open</a>
            </footer>
          </article>
          <article>
            <header>Seasons</header>
            Manage the hockey seasons.
            <footer>
              <a href="/seasons">Open</a>
            </footer>
          </article>
          <article>
            <header>Season Games</header>
            Manage the games of the seasons.
            <footer>
              <a href="/games">Open</a>
            </footer>
          </article>
          <article>
            <header>Presence</header>
            See the presence of members at games.
            <footer>
              <a href="/presence">Open</a>
            </footer>
          </article>
        </div>
      </section>
    </main>
  </body>
</html>
{{end}}
