{{define "pages/members"}}
<!doctype html>
<html lang="en">
  {{template "head"}}
  <body>
    {{template "Header"}}
    <main class="container">
      <h3>Members</h3>
      <section class="grid">
        <a href="/members/new" role="button">New Member</a>
      </section>
      <section>
        <table>
          <thead>
            <tr>
              <th scope="col">Last Name</th>
              <th scope="col">First Name</th>
              <th scope="col">Status</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {{range .Members}}
            <tr>
              <th scope="row">{{.LastName}}</th>
              <td>{{.FirstName}}</td>
              {{if .Active}}
              <td>Active</td>
              {{else}}
              <td>Inactive</td>
              {{end}}
              <td><a href="/members/{{.ID}}" role="button">Edit</a></td>
            </tr>
            {{end}}
          </tbody>
        </table>
      </section>
    </main>
  </body>
</html>
{{end}}
