{{define "pages/presence"}}
<!doctype html>
<html lang="en">
  {{template "head"}}
  <body>
    {{template "Header"}}
    <main class="container">
      <h3>Presence Statistic</h3>
      <section>
        {{range $i, $p := .SeasonPresence}}
        <details {{if eq $i 0}}open{{end}}>
          <summary>{{$p.Name}}</summary>
          <article class="grid">
            <span>Home: {{$p.HomeGames}}</span>
            <span>Away: {{$p.AwayGames}}</span>
            <span>Total: {{$p.TotalGames}}</span>
          </article>
          <table>
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Home</th>
                <th scope="col">Away</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            {{$prevGames := 0}}
            <tbody>
              {{range $pos, $e := $p.MemberPresence}}
              <tr>
                <th scope="row">
                  {{if ne $e.TotalGames $prevGames}}{{plusPlus $pos}}{{end}}
                </th>
                <td>{{$e.Name}}</td>
                <td>{{$e.HomeGames}}</td>
                <td>{{$e.AwayGames}}</td>
                <td>{{$e.TotalGames}}</td>
                {{$prevGames = $e.TotalGames}}
              </tr>
              {{end}}
            </tbody>
          </table>
        </details>
        {{end}}
      </section>
    </main>
  </body>
</html>
{{end}}
